@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

:root {
    --primary-color: #F87171;
    ;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
    background:
linear-gradient(324deg, #232927 4%,   transparent 4%) -70px 43px,
linear-gradient( 36deg, #232927 4%,   transparent 4%) 30px 43px,
linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 30px 43px,
linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -70px 43px,
linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -70px 23px,
linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 30px 23px,

linear-gradient(324deg, #232927 4%,   transparent 4%) -20px 93px,
linear-gradient( 36deg, #232927 4%,   transparent 4%) 80px 93px,
linear-gradient( 72deg, #e3d7bf 8.5%, transparent 8.5%) 80px 93px,
linear-gradient(288deg, #e3d7bf 8.5%, transparent 8.5%) -20px 93px,
linear-gradient(216deg, #e3d7bf 7.5%, transparent 7.5%) -20px 73px,
linear-gradient(144deg, #e3d7bf 7.5%, transparent 7.5%) 80px 73px;
background-color: #232927;
background-size: 100px 100px;
    
   
    
}

hr {
    margin: 2rem 0rem;
}

/** spaces **/

.margin-md {
    margin: 2rem;
}

/** container **/
.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/
.link {
    /* box-sizing: border-box; */
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

/** look into BEM naming convention for CSS **/

/** lists **/

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/** navigation **/

.navigation {
    background-color: hsl(2, 57%, 40%);
background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    text-align: center;
    font-size: 30px;

}
.navigation .nav-brand1 {
    font-weight: none;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    padding: 1rem 0rem;

}
.navigation .nav-brand2 {
    font-weight: none;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    padding: 0.25rem 0rem;

}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: bold;
}

/** header **/

.hero {
    padding: 2rem;
    padding-top: 5rem;

}

.hero .hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: blue;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

/** sections **/

.section {
    padding: 2rem;
    background:
    radial-gradient(circle at 0% 50%, rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px) 0px 10px,
    radial-gradient(at 100% 100%,      rgba(96, 16, 48, 0) 9px, #613 10px, rgba(96, 16, 48, 0) 11px),
    #8a3;
    background-size: 20px 20px;
    font-size: 20px;
}

.section h1 {
    text-align: center;

}

.ow {
    background:
radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%),
radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%),
radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%),
radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%),

radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%) 50px 50px;
background-color:#b03;
background-size:100px 100px;
    font-size: 20px;

}

/** footers **/

/* .footer {
     border-radius: 15px;
    font-size: 30px;
    background:
linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
background-color:#708090;
background-size: 64px 128px;
    padding: 0rem 1rem;
    text-align: center;
    color: black;
    border-top-right-radius: 1rem;
    margin-top: 6rem;
}

.footer .link {
    color: white;
    font-size: 20px;
    

}

.footer .footer-header {
    font-weight: bold;
    /* font-size: large; */
    /* font-size: 30px; */

/* }

.footer ul {
    padding-inline-start: 20px;
} */ 
 .footer {
     /* border: brown;  */
     border-radius: 15px;
    font-size: 30px;
    background:
linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
background-color:#708090;
background-size: 64px 128px;
    padding: 0rem 1rem;
    text-align: center;
    color: black;
    border-top-right-radius: 1rem;
    margin-top: 0rem;
    padding-bottom: 5pt;
}

.footer .link {
    /* color: white; */
    font-size: 20px;
     
    

 }

 .footer .footer-header {
    /* border: brown; */
    border-radius: 15px;
    font-weight: bold;
     font-size: large; 
     font-size: 30px;
    /* background-color: ;  */

 } 

footer ul {
    /* border: brown; */
    border-radius: 15px;
    font-weight: bold;
    font-size: large; */
    font-size: 50px;
    /* background-color: chartreuse;  */
     padding-inline-start :20px; 
} 


/** projects **/
.showcase-list {
    padding: 2rem;
}

/** blogs **/
.showcase-blog {
    padding-bottom: 6rem;
}
.showcase-list6{
    padding: 2rem;
    background-color: #6EE7B7;
    font-size: 20px;
}
.showcase-list5{
    padding: 2rem;
    background-color: #FDE68A;
    font-size: 20px;
}
.showcase-list4{
    padding: 2rem;
    background-color: #60A5FA;
    font-size: 20px;
}
.showcase-list3{
    padding: 2rem;
    background-color: #F9A8D4;
    font-size: 20px;
}
.showcase-list2{
    padding: 2rem;
    background-color:#9CA3AF;
    font-size: 20px;
}
.showcase-list1{
    padding: 2rem;
    background-color: #8acffd;
    font-size: 20px;
}
